<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Anita Art – About</title>
		<link rel="icon" type="/static/image/png" href="static/img/favicon.png">
		<link rel="stylesheet" href="/static\css\bootstrap.min.css">
		<link rel="stylesheet" href="/static\css\fontello.min.css">
		<link rel="stylesheet" href="/static\css\magnific-popup.min.css">
		<link rel="stylesheet" href="/static\css\animsition.min.css">
		<link rel="stylesheet" href="/static\css\style.css">
	</head>
	<body id="about-page">
		<div class="global-outer">
			<div class="global-inner">
				<header id="sidebar">
					<div class="sidebar-inner"><a class="logo smooth-leave" href="index.html"><img src="/static/img/logo.png" alt="SO"></a>
						<p class="intro"><b>Anita Bhatambare Patil</b></p>
						<nav>
							<ul>
								<li><a class="smooth-leave" href="index.html">Paintings</a></li>

								<li><a class="smooth-leave" href="">About</a></li>
								
								<li><a class="smooth-leave" href="contact.html">Contact</a></li>
							</ul>
							<br>
							<a class="icon-facebook" href="https://www.facebook.com/shoan.bhatambare/" target="_blank" rel="noopener noreferrer"></a>
							<a class="icon-instagram-1" href="https://www.instagram.com/anitabhatambare/" target="_blank" rel="noopener noreferrer"></a>
						</nav>
						<br><br><br><br>
						<p class="copyright">Created by Shoan.</p>
				</header>
				<main id="main">
					<div class="main-outer">
						<div class="container-fluid">
							<div class="page-title">
								<div class="row">
									<div class="col-md-8">
										<h1>About</h1>
									</div>
									<div class="col-md-12">
										<div class="page-title-image"><img src="http://placehold.it/1000x465" alt=""></div>
									</div>
									<div>
										<p class="lead col-md-12">I am an artist.</p>
									</div>
									<div>
										<p class="links col-md-12">
											<a class="smooth-leave" href="contact.html">Contact Us</a>
										<p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<script src="/static/js/plugins.min.js"></script>
		<script src="/static/js/functions.js"></script>
	</body>
</html>