<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Anita Art – Contact</title>
		<link rel="icon" type="/static/image/png" href="static/img/favicon.png">
		<link rel="stylesheet" href="/static\css\bootstrap.min.css">
		<link rel="stylesheet" href="/static\css\fontello.min.css">
		<link rel="stylesheet" href="/static\css\magnific-popup.min.css">
		<link rel="stylesheet" href="/static\css\animsition.min.css">
		<link rel="stylesheet" href="/static\css\style.css">
	</head>
	<body id="contact-page">
		<div class="global-outer">
			<div class="global-inner">
				<header id="sidebar">
					<div class="sidebar-inner"><a class="logo smooth-leave" href="index.html"><img src="/static/img/logo.png" alt="SO"></a>
						<p class="intro"><b>Anita Bhatambare Patil</b></p>
						<nav>
							<ul>
								<li><a class="smooth-leave" href="index.html">Paintings</a></li>

								<li><a class="smooth-leave" href="templates/about.html">About</a></li>
								
								<li><a class="smooth-leave" href="">Contact</a></li>
							</ul>
						</nav>
						<p class="copyright">Created by Shoan.</p>
					</div>
				</header>
				<main id="main">
					<div class="main-outer">
						<div class="container-fluid">
							<div class="page-title">
								<div class="row">
									<div class="col-md-8">
										<h1>Contact</h1>
										<p class="lead">Thanks for visiting my website! If you want to talk about possible collarborations, 
														promotions or anything else, get in contact with me on these social media sites:
														<a class="icon-facebook" href="https://www.facebook.com/shoan.bhatambare/" target="_blank" rel="noopener noreferrer"></a>
														<a class="icon-instagram-1" href="https://www.instagram.com/anitabhatambare/" target="_blank" rel="noopener noreferrer"></a>
										</p>
										<p class="lead">Or you can fill out the form below and get in contact with me!</p>
									</div>
									{% if er %}
										<div class="col-md-12">
											<p>Sorry you can't fill the form at the moment! Please select any of the above social media links.</p>

										</div>
									{% endif %}
									<div class="say-hello">
										<div class="row">
											<div class="col-md-12">
												<form method = "post" action="contact.html">
													<div class="row">
														<div class="col-sm-6">
															<input id="contact-name" type="text" name="contact-name" placeholder="Name" required>
														</div>
														<div class="col-sm-6">
															<input id="contact-email" type="email" name="contact-email" placeholder="Email" required>
														</div>
													</div>
													<input id="contact-subject" type="text" name="contact-subject" placeholder="Subject" required>
													<textarea id="contact-message" name="contact-message" placeholder="Message" required></textarea><button class="btn" type="submit">Send Message</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<script src="/static/js/plugins.min.js"></script>
		<script src="/static/js/functions.js"></script>
	</body>
</html>





