<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Anita Art – Deer in a Forest</title>
		<link rel="icon" type="image/png" href="/static/img/logo0.png">
		<link rel="stylesheet" href="/static\css\bootstrap.min.css">
		<link rel="stylesheet" href="/static\css\fontello.min.css">
		<link rel="stylesheet" href="/static\css\magnific-popup.min.css">
		<link rel="stylesheet" href="/static\css\animsition.min.css">
		<link rel="stylesheet" href="/static\css\style.css">
	</head>
	<body id="project-page">
		<div class="global-outer">
			<div class="global-inner">
				<header id="sidebar">
					<div class="sidebar-inner"><a class="logo smooth-leave" href="/index.html"><img src="/static/img/logo.png" alt="AB"></a>
						<p class="intro"><b>Anita Bhatambare Patil</b></p>
						<nav>
							<ul>
								<li><a class="smooth-leave" href="/index.html">Paintings</a></li>

								<li><a class="smooth-leave" href="/templates/about.html">About</a></li>
								
								<li><a class="smooth-leave" href="/templates/contact.html">Contact</a></li>
							</ul>
						</nav>
						<div class="widgets-block">
							<div class="widget recent-projects">
								<p class="title">Recent Projects</p>
								<ul>
									<li><a href="Paintings/2.jpg">Genuine American Fortune Cookies</a></li>
									<li><a href="Paintings/3.jpg">Moth Magazine</a></li>
									<li><a href="Paintings/4.jpg">The World's Smallest Portfolio</a></li>
								</ul>
							</div>
							<br>
							<a class="icon-facebook" href="https://www.facebook.com/shoan.bhatambare/" target="_blank" rel="noopener noreferrer"></a>
							<a class="icon-instagram-1" href="https://www.instagram.com/anitabhatambare/" target="_blank" rel="noopener noreferrer"></a>
						</div>
						<br><br><br><br>
						<p class="copyright">Created by Shoan.</p>
					</div>
				</header>
				<main id="main">
					<div class="main-outer">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="title-image"><img src="static/Paintings/1.jpg" alt=""></div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<div class="description">
										<h1>Deer in a Forest</h1>
										<ul class="categories">
											<li>Miscellaneous</li>
										</ul>
										<p>A wandering deer in a forest.</p>
										<p>Made with Acrylic colours.</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="details">
										<ul>
											<li>Date:<span>July 2019</span></li>
											<li>Size:<span>12 * 12 inches</span></li>
											<li>Medium:<span>Acrylic</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="carousel slide" id="project-carousel">
										<ol class="carousel-indicators">
											<li class="active" data-target=".carousel" data-slide-to="0"></li>
											<li data-target=".carousel" data-slide-to="1"></li>
											<li data-target=".carousel" data-slide-to="2"></li>
										</ol>
										<div class="carousel-inner">
											<div class="item active"><img src="http://placehold.it/900x500" alt=""></div>
											<div class="item"><img src="http://placehold.it/900x500" alt=""></div>
											<div class="item"><img src="http://placehold.it/900x500" alt=""></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<script src="/static/js/plugins.min.js"></script>
		<script src="/static/js/functions.js"></script>
	</body>
</html>